@model IEnumerable<eCommerceApp.Models.ShoppingCart>

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Index</h2>
@Html.Raw(ViewBag.Msg)
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <table class="table table-bordered table-striped table-condensed">
            <tr>

                <th style="width:70px;">
                    Item
                </th>
                <th style="width:270px;">
                    @Html.DisplayNameFor(model => model.Book.Title)
                </th>
                <th style="width:65px" ;>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>

                <th style="width:60px;">
                    @Html.DisplayNameFor(model => model.Book.Price)
                </th>
                <th style="width:70px;">
                    Subtotal
                </th>
                <th></th>
            </tr>

            @{ decimal total=0;}

            @foreach (var item in Model) {
    var price = string.Format("{0:N0}", item.Book.Price);
    var subtotal = item.Quantity * item.Book.Price;
    total += subtotal;
            <tr>
                <td>
                    <img align="middle" src="~/Content/Images/@item.Book.CoverImage" width="65" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @price
                </td>
                <td>
                    @string.Format("{0:N0}", subtotal)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RecordID, book = item.BookID }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.RecordID }, htmlAttributes: new { onclick = "return confirm('Are you sure to delete this record ?')" })

                </td>
            </tr>
}
            <tr>
                <td colspan="5"><strong>Grand Total :</strong></td>
                <td>Rp @string.Format("{0:N0}", total)</td>
            </tr>

        </table>
    </div>

</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <div class="col-md-1">
            @Html.ActionLink("Back", "Index_", "Books")
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-1">
            <div class="btn btn-default">
                @Html.ActionLink("CheckOut", "OrderNow", "Order")
            </div>
           
        </div>
    </div>
</div>

